<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="SecurityKey" value="youglobal" />
    <add key="ReCaptchaPrivateKey" value="6Le55gsTAAAAAC1e5EtYFXkkmW5uJH30aJcRysFI" />
    <add key="ReCaptchaPublicKey" value="6Le55gsTAAAAAECMHA20yc54KQK2jvlqTprM3xjy" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ckeditor:BasePath" value="/globalpanda/ckeditor/" />
    <add key="ShowJobAlerts" value="true" />
    <add key="MinutesToCheckForUpdatesAfter" value="60" />
    <add key="NumberOfHotJobsToDisplayInModule" value="5" />
    <add key="emailAddress" value="webmaster@you-global.com" />
    <add key="emailName" value="You Global Webmaster" />
    <add key="bcc.emailAddresses" value="" />
    <add key="bcc.emailNames" value="" />
    <add key="smtpHost_old" value="223.27.29.61" />
    <add key="smtpHost" value="111.67.20.148" />
    <add key="smtpUserName" value="jobs@you-global.com" />
    <add key="smtpPassword" value="N8fQtwFa" />
    <add key="contactus.emailAddress" value="admin@you-global.com" />
    <add key="contactus.emailName" value="You Global Admin" />
    <add key="contactus.subject" value="You Global Contact Us Submisson" />
    <add key="uploadcv.emailAddress" value="jobs@you-global.com" />
    <add key="uploadcv.emailName" value="You Global Jobs" />
    <add key="uploadcv.subject" value="You Global Resume Submisson" />
    <add key="uploadresume.emailAddress" value="jobs@you-global.com" />
    <add key="uploadresume.emailName" value="You Global Jobs" />
    <add key="uploadresume.subject" value="You Global Resume Submisson" />
    <add key="default.emailAddress" value="admin@you-global.com" />
    <add key="default.emailName" value="You Global Admin" />
    <add key="default.subject" value="You Global Website Form Submisson" />
    <add key="jobEmail" value="jobs@you-global.com" />
    <add key="joEmailFrom" value="jobs@you-global.com" />
    <add key="subscribeConfirm" value="http://www.you-global.com/template/subscribe.aspx" />
    <add key="unsubscribeConfirm" value="http://www.you-global.com/template/unsubscribe.aspx" />
    <add key="logoURL" value="http://www.you-global.com/Content/images/YouGlobal1.jpg" />
    <add key="baseURL" value="http://www.you-global.com/" />
    <add key="FileUpload" value="https://www.you-global.com/globalpanda/Files/FileUpload.ashx" />
    <add key="ConsultantImage" value="https://www.you-global.com/globalpanda/Files/ConsultantImage.ashx?filename=" />
    <add key="locationAdmin" value="gp@you-global.com" />
    <add key="jobEmailAdmin" value="admin@you-global.com" />
    <add key="feedback" value="admin@you-global.com" />
    <add key="LogPath" value="E:\logs\jobapply\apply" />
    <add key="webrqsttimeout" value="800000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="globalpanda" connectionString="server=localhost;user id=root;password=password;database=globalpanda;Allow User Variables=True;Pooling=False;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0,Culture=neutral,PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions,Version=4.0.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Shared/Error" />
    <!--<authentication mode="Forms">
     <forms loginUrl="~/Home/Home" timeout="2880" />
    </authentication>-->

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Collections.Generic" />
        <add namespace="YouGlobal_D"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,                  System.Web.Routing, Version=3.5.0.0,                  Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <identity impersonate="true" />
    <!--<authentication mode="Forms" />-->
  </system.web>
  <system.web.extensions />
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <location path="sitemap.shtml">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>