<p>
    Thank you for your feedback. The below information was sent to YOU Global.</p>
<table>
    <tr>
        <td>
            Your name:
        </td>
        <td>
            {0}
        </td>
    </tr>
    <tr>
        <td>
            Email address:
        </td>
        <td>
            {1}
        </td>
    </tr>
    <tr>
        <td>
            Contact number:
        </td>
        <td>
            {2}
        </td>
    </tr>
    <tr>
        <td>
            Your computer operating system and version:
        </td>
        <td>
            {3}
        </td>
    </tr>
    <tr>
        <td>
            Your browser and version:
        </td>
        <td>
            {4}
        </td>
    </tr>
    <tr>
        <td>
            Your comments:
        </td>
        <td>
            {5}
        </td>
    </tr>
</table>
