<div align="left">
    {0}</div>
<p>
    Dear {1},
    <br />
    <br />
    Thank you for submitting your CV. We shall retain your details and be in touch as roles arise which fit your profile.
    <br />
   </p>
<p>
    To enable us to keep you informed of other positions, please consider the following:</p>
<p>
    Subscribing to our free Job Alert facility via <a href="http://www.you-global.com/">
        YOU Global's website</a><br />
    Joining us at our main <a href="http://www.facebook.com/youglobal">Facebook Page</a>
    or related Facebook pages<br />
    Following us on <a href="http://www.twitter.com/youglobal">Twitter</a><br />
    Joining our LinkedIn Group <a href="http://www.linkedin.com/groups/YOU-Global-jobs-worldwide-all-3726149">
        YOU Global Jobs Worldwide</a>, subgroups or <a href="http://www.linkedin.com/company/844555">
            LinkedIn company page.</a></p>
<p>
    Yours sincerely</p>
<p>
    YOU Global<br />
    <a href="http://www.you-global.com/">www.you-global.com</a></p>
