<p>
    Hi {0}
</p>
<p>
    We confirm that you have now been unsubscribed from YOU Global Job Alerts.
</p>
<p>
    You're welcome to subscribe again at any time. Alternatively, if not already with
    us on <a href="http://www.facebook.com/youglobal">Facebook</a>, <a href="http://www.twitter.com/youglobal">
        Twitter</a> or <a href="http://www.linkedin.com/groups/YOU-Global-jobs-worldwide-all-3726149">
            LinkedIn</a>, please visit <a href="http://www.you-global.com">YOU Global</a>.
    <p>
        We wish you the best of luck in your career.</p>
</p>
<p>
    The Team at YOU Global
</p>
{1}
<p>
    -----------------------</p>
